[2019-08-16 03:22] mmcky opened #20 "[Maintenance] Check `conf.py` file for necessary settings."
Many of the settings for `website` and `coverage` are controlled using the `-D` flag in `Makefile`.

We should remove any unused items in `conf.py` file for these pipelines and/or settings that have default values.

[2019-08-21 02:47] mmcky opened #13 "Migrate data from QuantEcon.lectures.code to Quilt"
Lectures that use `QuantEcon.lectures.code` currently download from github. It might be nice to host a quantecon `quilt` dataset (https://github.com/quiltdata/quilt) instead

- [ ] setup `quilt` dataset
- [ ] deprecate `QuantEcon.lectures.code`

[code]

[2019-11-07 23:23] mmcky opened #31 "[Infrastructure] Updates to Coverage File needs Hard Reset (due to browser caching)"
Just updating a single lecture (which will update the coverage report) but the live site requried a hard reset to get the updated results to show (i.e. new badge showing passing).

Is there a way to remove this issue with the browser. Can we ask browsers not to cache the coverage file?

[2019-11-13 22:03] jstac opened #38 "Some unicode issues (suggested by Numba)"
From [this discussion](https://github.com/numba/numba/issues/4816) it seems we are better off using `\varphi` and `\varepsilon` in our code.

It would be good if someone could do a careful search and replace.

[2019-11-20 02:37] AakashGfude opened #21 "[PDF] Formatting and styling issues in book pdf"
- [ ]  adjust the alignment of column headers of the table in the output block
![table](https://user-images.githubusercontent.com/6542997/69204076-0d0c4b00-0b9a-11ea-916e-cb5105f6597d.png)

- [ ] misaligned print statement in this case
![print](https://user-images.githubusercontent.com/6542997/69204219-64122000-0b9a-11ea-92d0-8deb393f1ab7.png)

- [x]  verify why the second bullet point is misalign

[2019-11-21 22:32] mmcky opened #30 "[RA Project] Review PDF (Compare with Web) for any missing elements / style adjustments"
@mtiley it would be great to review the PDF files to check for any:

1. missing content
1. style issues that make the pdf difficult to read

[2019-11-25 22:13] jstac opened #10 "More uniformity in figure sizes"
Right now figure sizes are all over the shop, without any common rule.

I suggest that, for any standard figure, we remove the `figsize=(x,y)` argument and use the default size instead.

Then we can figure out the best way to set the default size.

For nonstandard figures, such as those with multiple subplots, we should treat them individually, just by looking at them, but with the default size as

[2020-02-21 11:14] shlff opened #33 "A reference link problem in lectures' downloadable ipynb files"
Good evening, @jstac and @mmcky . @AakashGfude and I found a possible issue about downloadable ``ipynb`` files for all lectures:

- Assume that we only download one lecture's ``ipynb`` file without downloading [reference](https://python.quantecon.org/zreferences.html)'s ``ipynb`` file. If, in the lecture's ``ipynb`` file, there is a link connecting to a paper in the reference, then the link cannot

[2020-03-18 01:40] mmcky opened #9 "[theme] setup general theme for all python lectures"
Setup a general theme for all python lectures that includes `sphinx` metadata pass through to the `tpl`.

1. setup `lecture-quantecon.theme` that can be applied to all projects.

[2020-03-30 23:00] mmcky opened #34 "[awstats] Update"
It would be great to update (or aggregate) aws stats for the new lecture structure

This doesn't seem to be working
http://awstats.quantecon.org/awstats/awstats.pl?config=python.quantecon.org

[2020-04-14 23:28] mmcky opened #99 "[Project] Custom Book Plugin for Executable Book Project"
It would be nice to have a plugin that allows the creation of custom books. Users can select the chapters they would like to have for inclusion and a `pdf` or `mini` website could be returned to the user.

@thomassargent30 would like to use this feature to create some mini custom books.

It would require an interface to create:

- [ ] custom `_toc.yml` object
- [ ] cached executable output for qui

[2020-04-24 04:48] mmcky opened #17 "Improve Contributors Page for QuantEcon"
Currently the `README` files for each lecture repo is empty.

@jstac would you like the old style guides etc. replicated across all three repos?

Given it will likely be very similar across the three should we update the `README` to this `meta` repo and then add links to the others for Style Guide etc. to the README located in `lecture-python-website`?

[2020-04-25 18:58] jstac opened #1 "Links in Python lectures need to be checked"
@thomassargent30 reports a number of broken links, including in Exchangeability and Bayesian Updating.

This is not good to hear.  These need to be fixed ASAP but we also should review how link checking takes place in order to avoid repeats.  I'm happy to help if I can.

BTW, @jlperla, do you have link checking system in place?  Perhaps we could share technology?

[2020-04-25 19:03] jlperla commented on #1
@jstac I just have what Matt sent. Which I have been trying to schedule time to update on the Julia side with a merge soon. Sorry, been pretty chaotic the last few months, as you can imagine

[2020-04-25 19:08] jstac commented on #1
Sure, I understand.  But I guess more people are relying on our lectures now.  Please let us know if we can help get that merged.

Also, @mmcky is developing a github actions framework for execution testing, link checking and previews that might also be of interest.  See, e.g., https://github.com/QuantEcon/lecture-python-intro/pull/134.

[2020-04-25 19:17] jlperla commented on #1
@mmcky looks like the PR was merged in https://github.com/QuantEcon/lecture-source-jl/pull/807 but I forgot to get a new build initiated. Do you have a chance to initiate one?

[2020-04-25 21:34] mmcky commented on #1
@jstac adding discussion here from my email

---

We discovered a bug this week where we had stale html files left on the python-advanced server.
Essentially, when we moved `odu` from advanced to the intro lecture set a copy of the html stayed behind.
I tidied up those files a couple days ago -- so the link would have started to present as broken at that time.

Our automatic **weekly** link checke

[2020-04-25 21:40] mmcky commented on #1
@jlperla I have initiated a `clean` build to get all `pages` rebuilt.

[2020-04-25 23:19] jstac commented on #1
Thanks @mmcky .  If I remember correctly, links are also getting checked in PRs now.  If we combine that with a weekly full check of the site, that full test of the site, that should be enough.  Agree?

[2020-04-25 23:33] jstac opened #2 "Possible renaming of three Python lecture series"
The names are now

1. Python Programming for Quantitative Economics
1. Introductory Quantitative Economics with Python
3. Advanced Quantitative Economics with Python

@thomassargent30 suggests we replace "Introductory" with "Basic".

That's option A:

1. Python Programming for Quantitative Economics
1. Basic Quantitative Economics with Python
3. Advanced Quantitative Economics with Python

Option

[2020-04-26 00:03] jlperla commented on #1
Thanks so much @mmcky

[2020-04-26 00:49] thomassargent30 commented on #2
Dear John, I like options B and C. You choose please. I see your argument
for adding finance. Ok with me. Thanks, Tom

On Sat, Apr 25, 2020, 5:33 PM John Stachurski <notifications@github.com>
wrote:

[2020-04-26 06:12] jstac commented on #2
Hi @mmcky @shlff @Harveyt47 @drdrij @najuzilu, yet another of many recent changes, but -- unless any of you have strong objections -- we're going to go with option C.

@Harveyt47, would you mind to take the lead on this?  It's just a matter of figuring out all the places where the names appear.  Please do a careful search over all html / md / rst files in each of the three repos.  @mmcky and @drdr

[2020-04-26 10:42] mmcky commented on #1
@jlperla the latest build of the `julia` site is now live.

[2020-04-26 23:49] mmcky commented on #2
@jstac can the `url` prefixes stay the same:

`python-programing`
`python-intro`
`python-advanced`

the issue with `python-intro` to `python` is that the `python.quantecon.org` currently hosts the landing page to unify the three linked to `lecture-python-website`. If you want to simplify that prefix in line with the title Andrij and I will need to review the infrastructure site for deployments.

[2020-04-27 00:21] jstac commented on #2
Ah, yes, that's an issue.  I would prefer to change it but I I feel like we've done a lot of chopping and changing.  Let's leave it as is for now and then review some time down the road.

[2020-04-27 00:24] DrDrij commented on #2
Good point @mmcky. Restoring the python.quantecon.org could fix some of the traffic and SEO - but we wouldn't have anywhere to house our landing page for the 3 lectures (unless it went on the org site homepage).

[2020-04-27 00:52] jstac commented on #2
Well, if restoring python.quantecon.org would be helpful, then we could shift python-intro there and then the landing page for the 3 lectures could sit at quantecon.org/python-lectures?

[2020-04-27 03:16] mmcky commented on #1
All links in `python-programming`, `python-intro`, and `python-advanced` have been checked by the weekly link checker. The two links that remained have been fixed.

[2020-04-27 03:16] #1 closed

[2020-04-28 01:53] mmcky commented on #2
@DrDrij do you think this will help a lot given the current `google search` results I am getting now? Does google keep history like that? For me it makes sense to host the landing page at python.quantecon.org as it unifies the `python` pages together but I am happy to be overruled. `python-intro` won't make as much sense when we change the titles. I am a bit worried that people will go to python.q

[2020-04-28 03:51] jstac commented on #2
This is a tough one.

I'm feeling more and more @DrDrij 's point that the existing set up is too nested --- too many clicks to get down to one lecture.  So what we could do is have `python.quantecon.org` point to the middle one, which is the page now at `https://python-intro.quantecon.org/`.  From there, readers can either go ahead or switch to programming or advanced using the navigation bar with

[2020-04-28 06:45] mmcky commented on #2
Roger that. Just a couple of questions:

1. The current `landing page` will just be linked from `quantecon.org` as an entry point right?
1. should the repo be renamed from `lecture-python-intro` to `lecture-python` to maintain conventions?

Here is a checklist of things that need to be updated and changed.

**Infrastructure:**

- [ ] update QuantEcon.aws.admin for build scripts for publishing (@mm

[2020-04-28 06:56] Harveyt47 commented on #2
Hey @mmcky should I hold off on Lecture Repo tasks until after Infrastructure tasks are complete. Not certain is order matters here.

There are four files in the lecture repo's which require the name changes.

1.	conf.py which I believe is used for the naming of the pdf and its url
2.	index.rst which the name is used for the title on the index page.
3.	Home.html which is the python.quantecon.org p

[2020-04-28 06:57] mmcky commented on #2
Thanks @Harveyt47. Please feel free to go ahead with setting up PR's that I can review. There shouldn't be many collisions with other changes so if the PR's stay open for a couple days that will be fine.

[2020-04-28 09:15] jstac commented on #2
Really sorry @mmcky to be creating all that work :grimacing: .  I hate to use your hugely valuable time on these changes but I think the name change is necessary and I'm glad we'll end up with a less nested set of pages.

I'm not sure what the question is.  Would you mind to rephrase?

I hate to say it but yes, I think we should bite the bullet and do it.  Thanks @mmcky

[2020-04-28 09:36] mmcky commented on #2
No problem @jstac - just getting some structure in place for the migration.

Sure. We have a current landing page hosted at https://python.quantecon.org which will be migrated to be a page on the org site https://quantecon.org/python-lectures. I guess my question is will that page **only** be linked from:
1. The quantecon.org front page from the "Quantitative Economics with Python" button
1. the `

[2020-04-28 09:41] jstac commented on #2
Yes, I'm happy with that.  My hope is that users will visit the uppper level landing page currently at `python.quantecon.org` only once.  In that way we avoid the deep nesting.

[2020-04-29 00:53] mmcky opened #14 "[Github Actions] Improve HTML cache implementation"
It would be good to have caching to enable

1. complete website previews for Pull Requests

[2020-04-29 04:11] mmcky commented on #2
@DrDrij when you are free can we link up to review `Infrastructure` tasks for this migration. Thanks.

[2020-05-02 07:34] mmcky commented on #2
@DrDrij we are going ahead with the name change (before we do the swap in infrastructure)

Do you mind manually updating the names (as per Option C) for the landing page

https://python.quantecon.org

[2020-05-03 11:20] DrDrij commented on #2
My tasks on your checklist are all completed @mmcky. Updated today:
- Added new sloan logo
- Migrated py landing page to org
- Migrated py landing about page to org
- QE Menubar now injected via single js file (no markup or css needed)
- Created PRs to flip org site links
- Updated qe menubar + sitebar in py theme repos
- Moved homepage github links to "View source" link

[2020-05-04 03:57] mmcky commented on #2
thanks @DrDrij. As discussed last night we have merged the "visual" changes -- looks like the last piece of work will be to migrate the `bucket`. I plan to do this work on `wednesday` this week. I think it just will involved:

- [ ] review all current updates
- [ ] merge PR's for link adjustments
- [ ] clean builds of all sites
- [ ] merge in updates to QuantEcon.aws.admin tools for new server loc

[2020-05-06 23:54] jstac opened #3 "Review indices of P"

[2020-05-06 23:57] jstac opened #4 "Review indices of PDFs"
I haven't looked at the indices of our PDFs in a long time.

Are they OK?  Is there any easy way to improve them?  All recommendations are appreciated.

[2020-05-07 00:16] Harveyt47 commented on #4
Hey @jstac you mentioned this to me a while ago. Since then I have been reading some of the lectures in the PDFs. I have not seen any issues regarding the indices. But I'll keep looking.

[2020-05-07 00:32] jstac commented on #4
I don't see actually an index, now that I look:

https://python-intro.quantecon.org/_downloads/pdf/quantitative_economics_with_python.pdf

Am I missing something?

[2020-05-08 06:36] mmcky commented on #2
Copying open items from comment above to refresh

**Infrastructure:**

- [ ] redirect front page `python` lecture link to new landing page location (@DrDrij). This will be done implicitly when we sync `lecture-python` for the first time which will replace the `index.html` file.
- [ ] update `python` landing page with new link location for `python-intro` (@DrDrij)
- [ ] update top `quantecon` navba

[2020-05-09 10:13] mmcky commented on #2
@jstac a bit of final tidy up left but all systems go for the new location for `python-intro` series.

It is now hosted at python.quantecon.org and redirects are in place from `python-intro`.

@DrDrij can you update the sitemaps with Google?

[2020-05-19 00:07] Harveyt47 commented on #4
Hey @jstac are you talking about the pdf version of this https://python.quantecon.org/index_toc.html

If so I can see it on page three

[2020-05-19 00:36] jstac commented on #4
That's the table of contents.  I'm asking about the index.

[2020-05-19 00:54] Harveyt47 opened #5 "data files pointing to old lecture-source-py repo"
We need to update links and data files that point to the old `lecture-source-py` repo and point them  to their correct repo.

for example in [mle](https://python.quantecon.org/mle.html#Counting-Billionaires) the first data frame point should point to
`https://github.com/QuantEcon/lecture-python/blob/master/source/_static/lecture_specific/mle/fp.dta?raw=true`

[2020-05-19 01:11] mmcky commented on #4
@jstac the `index` seems to be missing. @Harveyt47 can you research adding `index` back into LaTeX and we can make sure it is in https://github.com/QuantEcon/lecture-python.theme/blob/master/templates/latex.tpl

[2020-05-19 01:12] mmcky commented on #4
actually it should be in [latex_book.tpl](https://github.com/QuantEcon/lecture-python.theme/blob/master/templates/latex_book.tpl).

@jstac `index` elements are needed int he individual pdf's right?

[2020-05-19 01:13] mmcky commented on #5
can you please submit a PR?

[2020-05-19 02:26] mmcky opened #6 "Add contributor page to each python lecture series?"
@jstac @thomassargent30 perhaps we can add a contributor page to each `python` lecture series as `source/rst/contributors.rst` and then update the current "see all contributors" to this page.

<img width="948" alt="image" src="https://user-images.githubusercontent.com/8263752/82277589-94147180-99cb-11ea-9da8-26cb3b3240d9.png">

A page that is manually updated is probably more meaningful than the c

[2020-05-19 06:10] jstac commented on #5
Good catch @Harveyt47 .  This affects a few lectures across multiple repos (pandas.rst, ols.rst, mle.rst, pandas_panel.rst).

[2020-05-19 06:13] Harveyt47 commented on #5
Hi @jstac I have done a search across the repo's and have made a number of PR's fixing this.

[2020-05-19 10:05] mmcky opened #16 "[Github Actions] Setup PDF build Github Action for QuantEcon"
- [ ] maybe we should build an action based on [this github action](https://github.com/xu-cheng/latex-action) that adds an `anaconda` environment to the docker and then builds `make pdf`

[2020-05-19 19:37] #3 closed

[2020-05-19 19:38] jstac commented on #2
Can we close this now @mmcky @DrDrij ?

[2020-05-19 19:39] jstac opened #7 "update sloan logos on the three Python lecture series"
Update to new logos on landing pages.

[2020-05-20 03:10] mmcky commented on #2
@jstac I have opened clean up issues in the other repositories. So we can go ahead and close this now. Thanks.

[2020-05-20 03:10] #2 closed

[2020-05-25 03:41] mmcky opened #8 "Remove Greek Symbols from Python Lectures"
Andrij, could you please tag these for removal and then remove them
when you have time?

I think they only appear here: https://quantecon.org/python-lectures/

Oh, and also as icons in the browser tabs.

For the icons that appear in browser tabs, perhaps we could have a
generic QuantEcon logo...?

[2020-05-25 14:39] DrDrij commented on #8
Done!

[2020-05-25 14:39] #8 closed

[2020-05-26 02:48] AakashGfude commented on #4
In case of pdfs, we have actually set all the index files in exclude patterns. So, they are avoided when building pdfs.
Like, for example :-
https://github.com/QuantEcon/lecture-python-advanced/blob/master/conf.py#L462

[2020-05-26 03:00] Harveyt47 commented on #4
Thanks @AakashGfude. Would we also have to add `\usepackage{imakeidx}`, `\makeindex` and `\printindex` to [latex_bok.tpl](https://github.com/QuantEcon/lecture-python.theme/blob/master/templates/latex_book.tpl)?

[2020-05-26 03:08] AakashGfude commented on #4
@Harveyt47 I don't think that will be necessary, as we create tex files for index like any other pages. We can give it a try by removing the entry of `index` from the config variable and seeing what the pdf output is. If it is behaving weird, then we can try using other packages.

[2020-05-26 03:26] Harveyt47 commented on #4
Awesome thanks @AakashGfude I'll give removing `index` a try and see what happens.

[2020-05-27 01:44] sayaikegawa commented on #6
Hi @mmcky , I'm going to make each rst file about contributors related to each repo.
But seemingly I do not receive the list, if you have it, could you please put it here?
Or would it be ok to make the files just from [the current contributor page](https://quantecon.org/about-python-lectures/)

[2020-05-27 04:41] mmcky commented on #6
thanks @sayaikegawa -- my only hesitation is to have information in both places. @jstac do you think we should have a central place for contributors or a separate `contributors` page for each lecture series -> that is linked to from the front page (as I had suggested as a possible change above)?

[2020-05-27 04:41] mmcky commented on #6
Yes - This would be the best information source for this work.

[2020-05-27 07:06] jstac commented on #6
Well, this page is quite informative: https://quantecon.org/about-python-lectures/.

Is there a way to link to the heading "Credits"?  Then perhaps "View all contributors" on each of the three pages should simply point to that?

Those who want to look up GH commit histories can do it easily enough.  So we don't really need to point to it.

The "Credits" could be updated slightly by mentioning Saya

[2020-05-27 07:14] mmcky commented on #6
@DrDrij is there a way to enable `id` tags for headings on the `orgsite` build?

[2020-05-27 07:15] mmcky commented on #6
@jstac I think that is a nice idea. The orgsite is a `jekyll` build so we should be able to enable direct linking to title: `Credit`

[2020-05-27 08:10] sayaikegawa commented on #6
@jstac , I think that is a nice idea too. And I'll update it. Is Miles also RA to add the page?

[2020-05-27 10:28] DrDrij commented on #6
It should definitely be possible. An example would be changing the credits heading to:

`## Credits {#credits}`

You can then link directly so the page jumps directly to the heading with: https://quantecon.org/about-python-lectures/#credits

Source: https://www.markdownguide.org/extended-syntax/#heading-ids

[2020-05-29 07:04] mmcky commented on #6
thanks @DrDrij that is helpful. I guess the rule of thumb is that section titles will always have an id but it is hard to know for mutli-word titles if the spaces are added or hyphened etc.

Is there a way to make a link indicator show up.

An example of what I mean is here:

https://www.sphinx-doc.org/en/master/intro.html#conversion-from-other-systems

[2020-06-01 01:15] mmcky commented on #7
@DrDrij can you let me know when you may have time to address this? Thanks.

[2020-06-01 01:16] mmcky commented on #5
@Harveyt47 are all cases fixed? Please go ahead and close this if so -- otherwise document any remaining cases. Thanks.

[2020-06-01 01:17] #5 closed

[2020-06-01 01:40] jstac opened #11 "Possible new lecture on micro shocks by Baqaee and Farhi"
See https://onlinelibrary.wiley.com/doi/abs/10.3982/ECTA15202

Their key idea (failure of first order approximation) could be nicely illustrated by simulation.

[2020-06-01 01:41] jstac opened #12 "De Nardi richer income dynamics paper"
This could be a good lecture: https://www.nber.org/papers/w21917

It's a nice quantitative study.

[2020-06-01 01:43] thomassargent30 commented on #12
hi john,  It is possible that Zejin could get interested in this. It is
related to some of his work.

On Sun, May 31, 2020 at 7:41 PM John Stachurski <notifications@github.com>
wrote:

[2020-06-01 04:31] mmcky commented on #14
Response from `GitHub`

---

We're sorry for the delay here -- thanks for reaching out! After speaking with our engineers about this, they let us know that you could use actions/cache for the case you've described around pull requests. Choosing a restore key that matches up with the number of the pull request might be one approach. However, they also let us know that pull requests cannot access th

[2020-06-01 04:32] mmcky opened #15 "[Github Actions] Setup HTML Proofer for CI"
This looks like a popular tool for running `CI` checks on built HTML

https://github.com/gjtorikian/html-proofer

@DrDrij have you used anything like this before?

This would replace:

- [ ] linkchecker in sphinx and may be more reliable. Would need to test.

[2020-06-01 04:43] mmcky opened #18 "[Github Actions] Add quantecon-services credentials for Github Actions Integrations"
Should enable `quantecon-services` as the credentials for:

1. Github (`quantecon-services` PAT)
1. Netlify Previews (`quantecon-services` PAT)

[2020-06-01 04:44] mmcky opened #19 "Add in delete propagations for publishing scripts"
currently we sync via `update files only rules` and don't propagate deletions as that is the default behaviour for `aws cli` `s3 sync`.

As lectures move between repositories this leaves behind stale `html` pages.

We need a mechanism to clean these up.

One option is to propagate deletions when sycning but we will need `sphinx` to build complete `sites` and `sitemaps` need to be added into the sy

[2020-06-01 05:02] jstac opened #22 "Oberfield's theory of input-output architecture"
Possible new lecture: https://onlinelibrary.wiley.com/doi/abs/10.3982/ECTA10731

[2020-06-01 05:03] jstac opened #23 "Lecture on Gale Shapely matching?"
Background:

http://www.nytimes.com/2014/12/07/nyregion/how-game-theory-helped-improve-new-york-city-high-school-application-process.html
http://en.wikipedia.org/wiki/Stable_marriage_problem

In particular,

http://en.wikipedia.org/wiki/Stable_marriage_problem#Algorithm

[2020-06-01 05:03] jstac opened #24 "[Lecture] LQ portfolio choice"
http://www.quantatrisk.com/2014/05/16/asset-allocation-for-tangent-portfolio-with-risk-free-asset-in-python/

[2020-06-01 05:04] jstac opened #25 "[Lecture] Contagion and default?"
The contraction mapping result of https://www.sciencedirect.com/science/article/pii/S0022053119300857

as well as

https://bfi.uchicago.edu/research/working-paper/contagion-sovereign-default-0

[2020-06-01 05:04] jstac opened #26 "[Lecture] Economic geography?"
The model seems to be well known and requires a numerical solution:

http://www.sciencedirect.com/science/article/pii/0014292193900175

It would be nice to have something on econ geography. I'll suggest this as a target for replication in my class and see if anyone takes it up.

(Thanks @mmcky for suggesting.)

Edit: I think there are related models that require computation in his book on econ geo

[2020-06-01 05:04] jstac opened #27 "[Lecture] Capital Structure"
@thomassargent30 Suggests this interesting looking paper as a good candidate for a new lecture:

https://pdfs.semanticscholar.org/ade3/468b8521a0ac5688533c023162c1308f3c7a.pdf

I am in favor.

[2020-06-01 05:05] jstac opened #28 "[Lecture] eigenfunctions and eigenvalues"
The following suggestion is from @thomassargent30.  (Sorry I haven't made progress on this.)

Ideas for a lecture or pair of lectures on eigenvalues and eigenfunctions
=======================================================

* Discrete state Markov chains

  - Interpretation of unit eigenvalues and associated eigenvectors

  - Interpretation of second biggest  eigenvalues -- rates of convergence

[2020-06-01 05:05] jstac opened #29 "[Lecture] Granular origins of aggregate fluctuations"
The paper by Gabaix, introductory model.

Compare under Pareto and lognormal.

Perhaps adjust lognormal volatility/scale parameter so that GDP growth has similar mean.

Adjust mu to match the median of the Pareto dist.

Now compare volatility.

[2020-06-01 07:49] jstac commented on #13
I like to limit our exposure to different services `:-)`

Might this be overkill?

[2020-06-01 07:56] jstac commented on #12
CC @shizejin

[2020-06-01 14:24] shizejin commented on #12
@thomassargent30 @jstac thank you for ccing me. This is indeed a very interesting paper that I would like to study more deeply. I'll try my best to help construct this lecture.

[2020-06-02 03:19] mmcky opened #32 "[MyST] Explore enabling myst-nb for Python Lectures"
Due to the modular nature of the Executable Book Project we might be able to enable `myst-parser` or `myst-nb` to parser `myst` or `ipynb` containing myst or markdown respectively. This would enable the switch to writing with `myst` and allow for a staged migration from `rst` to `myst`.

[2020-06-02 03:32] mmcky commented on #32
One issue with this will be the duplicate extension setting names that have been used

[code]

[2020-06-02 03:52] mmcky commented on #32
- [ ] we would need to update `sphinxcontrib-jupyter` to remove clashes in `config` names to let them be compatible.

[2020-06-02 06:17] jstac commented on #34
Works fine for me.

[2020-06-03 05:21] jstac opened #35 "Italic for emphasis -> a colorscheme?"
Italics don't look great in a sans font: https://python.quantecon.org/samuelson.html#Samuelson%E2%80%99s-Model

How about we map `*this is emphasized*` to a different color font instead?

What do you think @DrDrij ?

[2020-06-04 00:24] mmcky commented on #34
@jstac it looks like it is configured for python.quantecon.org -- just not sure if @DrDrij has updated so all sites use the same aws stats certificate so the results are aggregated over the three sites -- or if we have separate awsstats trackers.

@DrDrij can you update when you have time. Thanks.

[2020-06-04 00:36] mmcky opened #36 "[infrastructure] Review automatic deployment for python lectures"
We now have the technical knowledge to automatically deploy the python lectures using `Github Actions`.  So it is worth having a discussion to see if we would like to progress to automatic deployment for the `python` lectures.

When using a pull request (PR) we now have checks in place for:

1. `execution testing` against the latest `anaconda` software for changed lectures
2. `external link checki

[2020-06-04 00:45] MaxGhenis opened #37 "Set seed when generating random numbers"
Minor suggestion to set the `numpy` random seed in lectures that generate random numbers. This would ensure that users get the same results as those posted on lectures.quantecon.org when they run the notebooks themselves.

The `np.random` module is currently used in 56 scripts: https://github.com/QuantEcon/lecture-source-py/search?q=np.random&unscoped_q=np.random

[2020-06-09 22:53] mmcky opened #39 "Enable Next and Previous for Website Navigation"
Enable "Next" and "Previous" buttons to allow moving from lesson to lesson more easily across the python lectures.

[2020-06-21 11:01] DrDrij commented on #35
I haven't included an italic version of the font by default for loading time reasons, but its a very popular font now. I think the rendering might be improved slightly. Shall I give that a go first @jstac ?
Also, let me style emphasised text with CSS, its pretty quick.

[2020-06-21 12:14] jstac commented on #35
Whatever you think will look good.  Thanks @DrDrij ...

[2020-06-23 12:48] DrDrij commented on #35
Loading the italic font did change some of the letters and readability.
I've setup 3 PRs. Lets see if the improvement is sufficient.
https://github.com/QuantEcon/lecture-python.theme/pull/15
https://github.com/QuantEcon/lecture-python-programming.theme/pull/17
https://github.com/QuantEcon/lecture-python-advanced.theme/pull/12

[2020-06-23 12:52] DrDrij commented on #15
Nope, but it looks legit @mmcky 👍

[2020-06-24 00:56] mmcky commented on #35
thanks @DrDrij I will merge those theme PRs now.

[2020-06-29 00:19] mmcky commented on #39
thanks @DrDrij with your help on this. This is now done.

[2020-06-29 00:19] #39 closed

[2020-06-29 00:23] mmcky opened #40 "Add GitHub stars badge to sites"
@jstac mentions the GitHub stars badge on the `julia` site

https://julialang.org/downloads/

Perhaps we should add them to our lecture series:

- [ ] QuantEcon.py
- [ ] QuantEcon.jl
- [ ] lecture sites

If we don't want to have the count displayed we could use

https://buttons.github.io

to generate the code and add it to the themes.

[2020-06-29 01:27] jstac commented on #40
Thanks @mmcky .  I don't mind to have the count displayed, even if it's low :-)

[2020-07-01 07:29] #6 closed

[2020-08-17 00:27] mmcky opened #41 "Migration of Lectures to MyST / Jupyter-Book"
This Issue documents what needs to be done to migrate our lectures over to use the new `jupyter-book` platform. The current system builds `myst` well -- but we will need to add some `site generation / assembly` features before we can migrate our projects over to use the new platform.

- [ ] Build a sphinx extension for `site assembly` that coordinates various builders may be needed (i.e. `sphinx-e

[2020-09-06 23:59] mmcky opened #42 "Setup Template Repo for QuantEcon JupyterBook Theme"
Drawing inspriration from [sphinx-book-theme](https://github.com/executablebooks/sphinx-book-theme) we should prepare a repository for the quantecon jupyter-book theme that is in development with @DrDrij

[2020-09-08 01:38] AakashGfude commented on #42
The created repository is at: https://github.com/QuantEcon/quantecon-book-theme

[2020-09-09 00:10] mmcky commented on #42
thanks @AakashGfude

[2020-09-09 00:10] #42 closed

[2020-09-09 00:25] mmcky commented on #41
**Update:**

We have a number of avenues underway to address these in preparation for migration.

**Trial Migration:**

[lecture-python-programming.myst](https://github.com/quantecon/lecture-python-programming.myst) has been set up to test a migration. Saya is helping with the manual components to see how we can improve `sphinxcontrib-tomyst` and what will need to be done manually.

**Theme Develo

[2020-09-09 01:59] mmcky opened #43 "[jupyter-book] Support for numbered references"
We now have a [test set](https://github.com/mmcky/ebp-test-projectstructure/tree/master/parts_chapters/numref) for configuring `numbered references` using sphinx `numref`

https://mmcky.github.io/ebp-test-projectstructure/parts_chapter.html#numref-numbered-references-html-and-latex

The test set [html](https://htmlpreview.github.io/?https://raw.githubusercontent.com/mmcky/ebp-test-projectstructure

[2020-09-13 04:07] mmcky opened #44 "Unit testing for Jupyter Notebooks"
This looks like a good approach to testing notebooks (without having to put tests inside of the notebook itself).

When migrating `julia` project over to myst we should explore this option to see if we can have unit testing of the notebooks external to the notebook itself.

https://github.com/nteract/testbook

cc: @jlperla

[2020-09-13 04:09] mmcky commented on #44
It would be nice if `testbook` supported tagged cell blocks that you can use as a reference. Doesn't look like that is a feature yet though.

[2020-09-13 05:13] jlperla commented on #44
I don't know... Accessing functions or variables by text in a separate file doesn't sound very appealing, given you convenient it is to have the code next to the test (very different from unit testing of functions/etc. where separate files feels very natural).,   And I don't see how it could work cross-language ?

This sort of stuff is necessary with a raw ipynb since it can't have any skipped cel

[2020-09-14 01:14] mmcky opened #45 "Update old Sloan Logos"
We need to update to newer Sloan logos on:

- [ ] https://python.quantecon.org
- [ ] https://python-programming.quantecon.org
- [ ] https://python-advanced.quantecon.org

@DrDrij. Given the shape change we may need some input on this.

[2020-09-14 01:16] mmcky commented on #44
Thanks for these comments @jlperla -- I am mainly just looking at what is out there to minimise what needs to be developed (+ supported) in EBP. It would be nice if there as a language agnostic Documenter.jl -- I'll take a look to see how that is setup and works.

[2020-09-14 01:19] mmcky commented on #41
**Update: 14-Sep-2020**

Initial Migration does **not** require:

1. Status Badges and Execution Stats (but nice to develop for EBP)
2. Remove Colab support (focus on jupyter-book execution options) and perhaps reintroduce support later on.
3. PDF (individual files built by LaTeX) can be supported via Javascript scraping on launch and migrated to LaTeX files later on.
4. Support "code-only" downlo

[2020-09-14 01:21] mmcky opened #46 "[JupyterBook] Build QuantEcon userguide for Lectures"
During the migration to use `jupyter-book` I need to write a userguide to document the processes for:

1. authors writing guide (tools available, vscode setup)
2. building lectures
3. publishing lectures / making them live

[2020-09-14 01:24] mmcky opened #47 "[AWS] Review QuantEcon AWS services -- Simplification Project"
We would like to move away from needing to use and configure `aws` as we move to simplify the `quantecon` operation.

- [ ] see if we can solely use `github` for all of the publishing, building, hosting chain.

**References:**

1. https://docs.github.com/en/github/working-with-github-pages/about-github-pages

[2020-09-14 01:25] jlperla commented on #44
Yes, thanks for looking out for this. And sorry if I prematurely, and grumpily poopood it.

I think that inside of the notebooks is exactly the right place for it. We don't have that option with jupyter notebooks. But that is part of the reason I think of jupyter as an output format...it isn't a markup language like markdown, myst, rmd, etc. For those, you have lots of flexibility.

The other thin

[2020-09-20 08:34] DrDrij commented on #45
Fortunately they have a square version of the logo. I think the following should do for now?

@mmcky Can you point me to the best place to edit the source files and I'll add the PRs? Are we using the myst repo yet?

<img width="1290" alt="image" src="https://user-images.githubusercontent.com/5886045/93706905-0fe71c00-fb6e-11ea-9fde-89f9b5949304.png">

[2020-09-20 08:55] jstac commented on #45
Looks great, thanks @DrDrij .

[2020-09-21 00:29] mmcky opened #48 "[AWS] Certificate SSL for www.quantecon.org"
@DrDrij would you mind to look at the config for `aws`

Reported by Jesse Perla

I went to https://www.quantecon.org instead of just the https://quantecon.org   and it is yelling back that the https certificate isn't valid.  maybe because you are trying to forward it to quantecon.org.  I dont think this is especially important on its own, but there might be a number of existing site pointing to th

[2020-09-21 00:30] mmcky commented on #45
thanks @DrDrij the live sites are fed from the rst versions for now.

`lecture-python-programming`, `lecture-python` and `lecture-python-advanced` along with their associated `.theme` repos.

[2020-09-22 10:07] DrDrij commented on #48
Currently `www.` is pointing a CNAME record to `confident-meninsky-7329c2.netlify.com`.

There is an S3 (with redirect) and Cloudfront with SSL already setup.

I am changing the record to point to AWS and it appears that is has resolved the problem.

[2020-09-22 10:08] #48 closed

[2020-09-22 10:39] DrDrij commented on #45
https://github.com/QuantEcon/lecture-python-advanced/pull/142
https://github.com/QuantEcon/lecture-python/pull/245
https://github.com/QuantEcon/lecture-python-programming/pull/70
🤙

[2020-09-22 10:46] DrDrij commented on #45
https://github.com/QuantEcon/lecture-python.theme/pull/16
https://github.com/QuantEcon/lecture-python-advanced.theme/pull/13
https://github.com/QuantEcon/lecture-python-programming.theme/pull/18

[2020-11-09 23:09] mmcky opened #49 "Issue with tilde rendering on HTML"
There is an issue with current mathjax rendering of `\tilde V`

![image](https://user-images.githubusercontent.com/8263752/98607159-b82e8b00-233c-11eb-811f-40c1edcb3d68.png)

This could be an issue with mathjax. An preliminary look doesn't find an easy fix.

[2020-11-10 00:30] mmcky commented on #49
If I use `common-html` rather than `html-css` it seems to change them to `^` symbols but are centered so maybe this is a css thing?

[2020-11-10 00:30] mmcky commented on #49
@DrDrij is the `css` making math italic and possibly causing this issue with the off centered `~` tilde?

[2020-11-10 02:13] mmcky commented on #49
It looks like if we specify the next version of mathjax which will be default in `sphinx=4.0` then the issue is resolved

[code]

[2020-11-10 02:26] mmcky commented on #49
Hmm -- seems fixed locally but not when using netlify etc.

[2020-11-10 02:44] mmcky commented on #49
So the `same` config gives different `html` -- how is that possible?

netlify build:

[code]

local build:

[code]

[2020-11-10 02:45] mmcky commented on #49
The `netlify` build seems to be missing `class="mjx-chtml MathJax_CHTML"` which fixes the `tilde` issue

[2020-11-10 02:48] mmcky commented on #49
ah ha -- I think I fixed it. There was a sphinx=2.4.4 being pinned for the netlify build

[2020-11-10 03:10] mmcky commented on #49
nope -- :(

https://5faa04300e34125b7f6841eb--wonderful-lalande-528d1c.netlify.app/bcg_complete_mkts#a-consumers-problem

[2020-11-10 03:13] AakashGfude commented on #49
@mmcky in this netlify link, it looks fixed?

<img width="674" alt="Screen Shot 2020-11-10 at 2 12 51 pm" src="https://user-images.githubusercontent.com/6542997/98622976-d4432400-235e-11eb-9365-8fd9cf01a45a.png">

[2020-11-10 03:14] mmcky commented on #49
Yeah -- it relates mainly to `inline` math

[2020-11-10 03:16] AakashGfude commented on #49
ohh. are you using safari?

[2020-11-10 03:17] mmcky commented on #49
@AakashGfude not for me in `safari` -- seems ok in `chrome` now that I look

[2020-11-10 03:18] mmcky commented on #49
dang it -- this is a `safari` vs `chrome` thing

https://python-advanced.quantecon.org/BCG_complete_mkts.html

[2020-11-10 03:23] mmcky commented on #49
but @AakashGfude I don't understand why the `html` differs? Do you have any insight on this?

[2020-11-10 03:24] AakashGfude commented on #49
ooh boy.
you have found a bug in mathjax it seems.

can mathjax render different HTML based on browsers?

[2020-11-10 03:24] AakashGfude commented on #49
safari is crashing in my laptop 👀  . might have to restart.

[2020-11-10 03:42] AakashGfude commented on #49
a similar issue which was reported earlier https://github.com/mathjax/MathJax/issues/1766

[2021-10-27 06:33] mmcky opened #50 "[Lecture Series] Python for Econometrics and Machine Learning"
**Title:** Python for Econometrics and Machine Learning

Possible Extension Tools:

1. Pandas
2. Numba
3. Dask
4. StatsModels
5. Scikit-learn
6. [Python for Stata](https://github.com/QuantEcon/2021-workshop-rsit)

include a section to help `stata` users to use `python for econometrics`

[2021-12-15 05:44] mmcky opened #51 "Add Lecture Series Focused on Micro Topics"
Consider investing in a single lecture series focusing on `micro` topics.

This could be part of a reorganisation of the current [python](https://python.quantecon.org/intro.html) and [python-advanced](https://python-advanced.quantecon.org/intro.html) lecture series.

[2021-12-15 22:16] mmcky opened #52 "Look at using "Singularity" Containers"
@thomassargent30 let me know about "singularity containers" as a possible option for QuantEcon

- [ ] look into singularity
- [ ] develop `pro` and `con` compared against `conda`

[2021-12-16 23:48] mmcky commented on #52
Another container to look at is

https://nixos.org

[2022-01-18 09:50] mmcky opened #53 "Useful Teaching Tool -- Recording Terminal Sessions"
This could a nice tool to use for dynamic websites with terminal recordings

https://asciinema.org

and a demo of it

https://gohugo.io/getting-started/quick-start/

[2022-01-18 23:28] mmcky opened #54 "Building Interactive Applications - For Websites (Plotly DASH)"
Evaluate

[2022-01-19 03:51] mmcky opened #55 "Evaluate Loom (Video Lectures)"
This software seems to have good support for screen casting and video captioning

https://www.loom.com

[2022-03-17 03:00] mmcky opened #56 "Enabling Access to GPU for Lecture Builds"
The default `GitHub actions` hardware is `cpu` based so there are no `gpu's` available.

To support lecture compilation we may need to add our own `runners` that we can connect to `GitHub`

https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners

For the build / ci jobs to run on. These on-site servers could be based at `anu` or in the `cloud` -- but on-premise allows

[2022-03-17 03:11] mmcky commented on #56
Looks like the machine is connected directly -- but it would be nice to have a clean environment every time something is built (given that is how `GitHub actions` works and the workflows are built around that assumption)

https://testdriven.io/blog/github-actions-docker/

[2022-03-17 03:14] mmcky commented on #56
The main issue from `GitHub docs` is that runners execute code from `forks` so it is advised to use them on `private` repositories only as a `fork` could send malicious code to the server.

[2022-03-17 03:59] jstac commented on #56
Thanks for working on this @mmcky .  I'm writing another GPU-based lecture right now :-)

[2022-03-17 06:33] mmcky commented on #56
Another option would be to use an external provider for those workflows that require a `GPU` such as `circleci`

https://circleci.com/execution-environments/

They offer a GPU context.

[2022-03-18 01:57] mmcky commented on #56
I have opened a ticket to check with GitHub support

https://support.github.com/ticket/personal/0/1548122

[2022-03-24 21:47] mmcky commented on #56
@jstac I have written to `gihtub` support and they have indicated they are working on adding support for higher spec machines (including some with `gpu` hardware) -- but there is no timeline.

So perhaps the best `short term` solution is to use `private repos` for:

1. QuantEcon.manual
2.  Future series on GPU

[2022-03-24 23:47] jstac commented on #56
Hey @mmcky , how would using private repos help with GPUs?

[2022-03-25 01:59] mmcky commented on #56
@jstac with a private repo (in the `short term`) we can then easily connect a `custom` runner which is hosted on a machine in our office -- that `GitHub` can dispatch to for running the compilation work (on hardware with a `gpu`). When `GitHub` supports `gpu` instances we can then `open` the repo serving the `gpu` lectures and transfer the workloads back on the the `GitHub Actions` service.

[2022-04-01 02:26] mmcky opened #57 "Decommission RSE Visitor Form"
We have told we can now decommission the RSE `visitor` form.

They have built a new form via the `RSE intranet` and the QuantEcon supported form is no longer required.

- [ ] add a redirect to https://rse.anu.edu.au/intranet/rse-visitor-application

[2022-04-07 01:18] mmcky commented on #57
@DrDrij would this be something you have time for or shall I dig in and give it a go?

[2022-04-08 00:28] mmcky opened #58 "Setup 15" MacBook Pro (x86) as a GitHub Runner for osx,x86 builds"
It would be nice to have osx,x86 builds running on `private` repositories for quantecon.

We can setup my old MacBook Pro 15" as a server to receive these builds

https://apple.stackexchange.com/questions/415539/can-i-use-a-macbook-as-a-server-with-the-lid-closed

[2022-04-11 00:34] mmcky opened #59 "Try Mito (Data Tables)"
Test out

https://www.trymito.io/

for teaching data science topics

[2022-04-11 00:35] mmcky opened #60 "Test out terality (Quick Pandas) as an Online Database System"
https://www.terality.com

[2022-04-19 05:08] mmcky opened #61 "Learning Management Platforms (Evaluate for India and Africa Workshops)"
Learning Management Systems

1. https://edu.google.com/products/classroom/

Video Recording

1. https://www.loom.com/education

Jupyter Notebooks

1. https://katiesylvia.medium.com/implementing-google-colab-into-your-google-classroom-88cf22841176

[2022-04-19 07:18] mmcky commented on #61
@jstac I have been reading a few blogs. I think you're right we should probably shoot for:

`Google Classroom` + `Google Colab` and `Google Drive`

The loom for education product looks good also. While the editing application is only available on `windows` or `OS X` there is a chrome extension that might be enough:

https://chrome.google.com/webstore/detail/loom-–-free-screen-and-ca/liecbddmkiiihn

[2022-04-19 10:16] jstac commented on #61
Great, thanks Matt.   Sounds good.

[2022-05-03 02:15] mmcky commented on #61
# Notes: Discussion with Spencer (Automated Grading) 03rd May 2022

## `nbgrader`

Tried

a. standalone
b. more recent notebook extensions

but didn't like due to interface.

## `Sage` / `CoCalc` (handles a lot of setup)

a. Much better interface for managing grades
b. Lightweight LMS, distribution and collection
c. Needs a reverse proxy (hardest setup part)
d. ssdnode.com (server) hosted instance

[2022-05-03 02:53] mmcky commented on #61
Some other resources for `commercial` offerings, but useful to compare feature availability.

1. [gradescope](https://www.gradescope.com) offers a wide range of infrastructure for automatic grading
2. [canvas](https://www.instructure.com/en-au/canvas)

[2022-05-11 05:12] mmcky commented on #61
This looks like a good resource

[2022-05-16 03:41] mmcky commented on #57
Closing this as put a redirect in place https://github.com/QuantEcon/website/pull/59

[2022-05-16 03:41] #57 closed

[2022-05-17 03:26] mmcky opened #62 "Setup Zenodo for References to QuantEcon"
Perhaps we should setup `zenodo` so others can cite the project in their work.

https://zenodo.org

A similar entry for jupyter book

https://zenodo.org/record/4539666#.YoMV3i8RolI

[2022-05-17 03:40] mmcky commented on #62
In the meantime I would recommend the following for referencing `quantecon` package?

[code]

[2022-05-18 00:54] mmcky commented on #61
I found a bit of time this week to explore JupyterLite which runs a python kernel in web assembly.

I explored these tools as a possible option for the upcoming workshops, but I don't think it is quite there just yet. These projects are developing quickly and will be an area I will keep my eye on.

Using `jupyterlite` means that `python` can be executed in the browser directly on local machines.

[2022-05-18 02:00] mmcky commented on #61
Things we need to understand:

**Support for Live Interaction:**

- [ ] How to organise breakout rooms in Google Meet
- [ ] How to schedule RA supported Tutorials
- [ ] Ensure Google Meet can support Workshop Presentation (at scale)

[2022-05-18 06:03] mmcky opened #63 "Form for RSE (Honours Marking Guide)"
The Honours Team would like a form that has the capacity to do `auto-grading` to manage the grading process.

Review

- [ ] Google Forms
- [ ] PDF (with calculating fields)
- [ ] Web Form (using service like Formspree) (similar to the visitor form)

[2022-05-19 19:53] jstac commented on #62
Thanks @mmcky, that looks good.

[2022-05-20 00:15] mmcky commented on #58
Setup

- [ ] virutalbox (https://www.virtualbox.org)
- [ ] Ubuntu 22.04 LTS (https://ubuntu.com/download/desktop)
- [ ] Windows 10 (Upgrade to Windows 11)

Hardware

- [ ] reformat and register under QuantEcon
- [ ] Get Keyboard replaced under Warranty and Upgrade Battery ($229) once reformatted.

[2022-05-24 04:10] mmcky commented on #61
To get Breakout room support we will need the `Teaching and Learning` Upgrade.

https://edu.google.com/intl/ALL_au/workspace-for-education/editions/compare-editions/

- [x] I have reached out to Google to see if they have pricing for not-for-profits.

[2022-06-15 01:25] mmcky commented on #63
This is now resolved by RSE Web Team and RSE Admin using Qualtrics

[2022-06-15 01:25] #63 closed

[2022-06-15 01:27] mmcky opened #64 "Google Classroom (Workspace) Notes and Issues"
This issue is a place to store notes / issues / comments about experience using Google Workspace to run Workshops

## Google Groups

- There is an unpublished limit of ~100 invitations / day to the Google Group which makes batch processing of invitations difficult
- Invitations cannot be sent out in bulk and they have to be entered in blocks of 10 using `vscode` to get the csv list from Google For

[2022-06-21 05:33] mmcky opened #65 "Checkout HiveBrite for Online QuantEcon Community"
Evaluate

https://hivebrite.com/

as a way to build QuantEcon engagement.

[2022-07-25 02:24] mmcky opened #66 "[Machine Learning] Excellent use of Machine Learning as Companion Techniques for Economics"
Here is a paper that uses Machine Learning to build High-Resolution Poverty Maps

https://www.sciencedirect.com/science/article/pii/S0305750X22002182

and is a great demonstration of how machine learning can be assistive in the data generation process using XGboost and Convolution Neural Networks.

[2022-07-25 02:55] jstac commented on #66
Nice find @mmcky !  What a great use of ML.

[2022-09-01 00:35] mmcky commented on #56
There are some security issues we need to consider when running a local GitHub runner (on a public repo).

But GitHub Actions is working on support https://github.com/github/roadmap/issues/505 which is the preferred solution

[2022-09-01 01:08] mmcky commented on #56
This is also useful project that might help us run locally

https://cml.dev/doc

through docker containers.

[2022-09-23 01:32] mmcky opened #67 "[Book] Mathematical Logic through Python"
This looks like an interesting book for our audience

Introduces mathematical logic through Python Programming concepts.

https://www.logicthrupython.org

[2022-09-29 01:09] mmcky commented on #55
Look wasn't a good solution for video captioning and ended up using Captera

[2022-09-29 01:09] #55 closed

[2022-09-29 01:10] mmcky opened #68 "[math] Generating LaTeX that represent Python Functions"
A neat little package to generate LaTeX representations of Python functions

https://github.com/google/latexify_py

[2022-10-04 01:46] mmcky commented on #56
OK I think the best setup will be:

1. setup a CML self hosted runner on an aws `p2.xlarge` ($0.9/hour) which will launch and destroy docker container powered instances when tasks request them. That way `aws` is only running when we need compute

**Benefits:**

1. This will be `robust` as instance is hosted on `aws`
2. Provides access to `NVIDIA K80 GPU`

The only downside is that it costs money t

[2022-10-19 06:25] mmcky commented on #56
This is now up and running on https://github.com/QuantEcon/lecture-python-programming.myst/pull/237

However we need to use `V100` cards instead of `K80` as the `K80` is deprecated and doesn't work well with `jax`.

- [ ] setup a `quantecon` docker container that includes `latex` and `conda` to speed up preview builds based off of the Nvidia docker containers with `gpu` driver support

[2022-10-19 20:24] jstac commented on #56
Nice work @mmcky .  It's been a struggle but I'm sure it will be worth it.

[2022-10-19 21:42] mmcky commented on #56
Thanks @jstac it is fun now that we have it working `:-)`.

There are a lot of variables and I hadn't focused on hardware thinking nvidia drivers didn't change that much. I am trying to find a good resource on hardware recommendations for GPU support with `jax`.

[2022-11-17 01:18] mmcky commented on #56
Closing this and will track remaining task separately.

[2022-11-17 01:18] #56 closed

[2022-11-17 01:20] mmcky opened #69 "Setup QuantEcon Docker container (reduce build times)"
Setup a `quantecon` build container for `python` projects that is based on `docker://nvidia/cuda:11.2.1-devel-ubuntu20.04` that includes support for `GPU` on `EC2` instances.

It should include:

- [x] latex support
- [x] anaconda install
- [x] config required for `jax`

[2022-11-17 01:23] mmcky commented on #61
This was evaluated and we used Google Products to deliver these workshops.

[2022-11-17 01:23] #61 closed

[2022-11-17 01:25] mmcky commented on #58
With the advent of needing `jax` and `gpu` support this is no longer a good option as `OS X` has `gpu` that are not supported by jax. In addition it is hard to configure access to `hardware` through various virtual layers and it is better to use documented approaches on `EC2`.

[2022-11-17 01:25] #58 closed

[2022-11-17 01:25] #45 closed

[2022-11-17 01:35] #49 closed

[2022-11-17 02:34] mmcky commented on #36
This has now been done using `GitHub actions`

[2022-11-17 02:34] #36 closed

[2022-11-17 02:35] mmcky commented on #44
To date this has been done inside the notebook on the `Julia` project using code cells that are not included in the html output. That seems to be sufficient for our current needs. Closing.

[2022-11-17 02:35] #44 closed

[2022-11-17 02:39] mmcky commented on #4
This issue is now old. There are index items included in all book `pdf`.

@jstac would you like me to organise a review of that `index` to see how it is lining up with the current content?

[2022-11-17 02:39] mmcky commented on #47
We have now transitioned to primarily using GitHub Actions.

AWS however is still needed for `gpu` support currently.

[2022-11-17 02:39] #47 closed

[2022-11-17 02:40] mmcky commented on #46
This has been done and is located in https://github.com/quantecon/QuantEcon.manual

[2022-11-17 02:40] #46 closed

[2022-11-17 02:41] mmcky commented on #35
the above appears to have been merged. So closing this issue.

[2022-11-17 02:41] #35 closed

[2022-11-17 02:42] mmcky commented on #41
This issue is old and can be closed. Our operations have fully migrated to `Jupyter-book` and `myst` including download notebooks that are constructed using `sphinx-tojupyter`

[2022-11-17 02:42] #41 closed

[2022-11-17 02:43] mmcky commented on #32
Not required as we use `jupyter-book` directly.

[2022-11-17 02:43] #32 closed

[2022-11-17 02:44] #14 closed

[2022-11-17 02:45] mmcky commented on #18
This has been completed and these assets are used via secrets.

[2022-11-17 02:46] mmcky commented on #9
A theme has been developed for `Jupyter-book` which supports all our projects https://github.com/quantecon/quantecon-book-theme

[2022-11-17 02:46] #9 closed

[2022-11-17 02:51] mmcky commented on #37
It looks like `wealth_dynamics` doesn't have a seed set.

@jstac I recall at some stage we were debating if this complicated the code or not but it looks like most other lectures that are stochastic have set seeds. Perhaps @HumphreyYang could take a look through the lectures.

[2022-11-17 02:51] #20 closed

[2022-11-17 02:52] mmcky commented on #31
We have moved away from s3 so this is no longer relevant.

[2022-11-17 02:52] #31 closed

[2022-11-17 02:56] mmcky commented on #38
@jstac this is a pretty old issue now. Do you think we need to loop through this and check. The lectures seem to be running well from an execution standpoint.

[2022-11-17 02:57] mmcky commented on #21
Closing as we now use `sphinx-jupyterbook-latex` to build `pdf` files.

[2022-11-17 02:57] #21 closed

[2022-11-17 02:57] #30 closed

[2022-11-17 02:58] mmcky commented on #19
Not required as moved to `GitHub actions`

[2022-11-17 03:02] mmcky commented on #33
I just checked a recent download notebook and references are pointing to the website for `opt_transport`.

@shlff can you confirm if anything needs to be done here. I think this can be closed.

[2022-11-17 03:03] mmcky commented on #10
I think this can be closed as implemented across many pages. We also have the following in the `manual`

https://manual.quantecon.org/writing/styleguide.html#figure-sizes

[2022-11-17 03:03] #10 closed

[2022-11-17 03:42] shlff commented on #33
Thanks for your elegant proposal and beautiful work on fixing this issue @mmcky .

I've randomly selected and checked the following lectures:
- ``muth_kalman``
- ``orth_proj``
- ``opt_transport``
- ``complex_and_trig``
- ``linear_algebra``

I can confirm that this issue should have been resolved and this issue could be closed.

[2022-11-17 06:30] HumphreyYang commented on #37
Hi @mmcky,

I think for most of part of the lecture, having random samples is not a huge issue for consistency in results, but given the lecture is presented as a static page, setting a seed may benefit people who follow the lecture and implement our code line-by-line themselves. So, I think adding a seed will be a good idea.

[2022-11-17 08:32] #33 closed

[2022-11-17 08:32] mmcky commented on #33
thanks @shlff

[2022-11-17 23:56] jstac commented on #38
True that.  Closing.

[2022-11-17 23:56] #38 closed